.title {
    text-align: center;
    color: red;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search input, .search textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: url(https://img.icons8.com/ios/256/search.png)no-repeat;
    background-size: 23px, 20px;
    background-position: right 15px center;
}
  
  .login {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .login li {
    margin-right: 60px;
    cursor: pointer;
  }
  
  .login a {
    text-decoration: none;
    color: inherit;
  }
  .login li img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 5px;
  } 
  .login li:hover {
    text-decoration: underline;
  }
  header ol li{
    display: inline;
    list-style: none;
    padding-right: 70px;
    color: #e40d0d;
    font-size: 20px;
    cursor: pointer;   
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .sp {
    text-align: center;
    color: red;
    font-size: 30px;
}
  main {
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-list li {
    background-color: #eee;
    border: 1px solid #ccc;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .product-list li img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  .product-list li h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .product-list li p {
    margin: 10px 0;
  }
  
  .product-list li .base-price {
    text-decoration: line-through;
  }
  
  .product-list li .sale-price {
    color: red;
    font-weight: bold;
  }
  
  .product-list li .discount-percentage {
    font-weight: bold;
  }
  
  .add-to-cart {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    
  }
  .obito img {
    height: 50%;
    width: 70%;
  }
  .nechlace img {
    height: 50%;
    width:  70%;
  }
  .naruto img {
    height: 50%;
    width: 70%;
  }
  .itachi img {
    height: 50%;
    width: 70%;
  }
  .goku img {
    height: 50%;
    width:  70%;
  }
  .book img {
    height: 50%;
    width: 70%;
  }